body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

.navbarCSS {
  padding: 15px 40px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  font-size: 20px;
  font-weight: bold;
}