.dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  color: white;
}

/* TOP ROW */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
}

/* FILTER */
.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter select {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  width: 150px;
}

/* ICON */
.icons {
  border: 1px solid #aaa;
  padding: 6px 10px;
  border-radius: 6px;
}

/* ADD BUTTON */
.add-btn {
  background: #3b82f6;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  color: white;
}

/* RESET CENTER */
.reset {
  text-align: center;
  margin: 20px 0;
}

.reset-btn {
  background: #2563eb;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: white;
}

/* TABLE */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background: #111;
}

.custom-table th {
  background: #d1d5db;
  color: black;
  padding: 10px;
  text-align: left;
}

.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.custom-table tr:hover {
  background: #1f2937;
}